{% extends "base.html" %}
{% load i18n %}

{% block logframe_switching_form %}
    {% if request.user and request.user.is_authenticated %}
        <form id="logframes-switch" action="{% url "switch-logframes" %}" method="post">{% csrf_token %}
            <select id="logframes-switch-select" name="logframe" onchange="this.form.submit();">
                {% for logframe in logframe_list %}<option value="{{ logframe.id }}">{{ logframe.name }}</option>{% endfor %}
                <option value="-1" selected="selected">{% trans "Create a new Logframe" %}</option>
            </select>
        </form>
    {% endif %}
{% endblock logframe_switching_form %}

{% block content %}
    <h2>{% trans "Create a new Logframe" %}</h2>
    <form method="post" class="pure-form pure-form-stacked" action=".">{% csrf_token %}
        {% include "form_snippet.html" %}
        <input type="submit" name="submit" value="{% trans "Create Logframe" %}" />
    </form>
{% endblock %}

{% block post_footer %}
<script>
(function () {
    Aptivate = { data: { logframe: {} } };
})();
</script>
{% endblock post_footer %}
