/**********************************************************************
 *
 * COLORS
 *
 *********************************************************************/
$page-background: #2F353F;   /* dusk                            */
$head-bottom-brown: #b89c6b; /* Brown                           */
$dusk-blue: #2F353F;         /* Darkish blue                    */
$header-yellow: #FFB900;     /* Golden yellow                   */
$background-white: #f1f1df;  /* Yellowish white                 */
$tabs-background: #2F353F;   /* Blueish green or greenish blue  */

$text-color: #494949;        /* Dark grey                       */
$text-background: #fff;      /* Completely white                */
$link-dark-blue: #00669D;    /* Dark blue                       */
$link-hover-green: #4166AF;  /* mid blue                        */

$heading-green:#2F353F;     /* Blue                            */
$level-1-blue: $dusk-blue;
$level-2-blue: #505a6b;
$level-3-blue: #738199;
$level-4-blue: #93a5c4;
$level-5-blue: #b6ccf2;

$error-dark-red: #CA3C3C;    /* Red                             */
$error-red-light: #FFBBBB;   /* Pink                            */
$ok-green: #99c473;          /* Lightest green                  */
$warning-orange: rgb(223, 117, 20);
$secondary-green: rgb(178, 196, 166);
$dark-gray: #333;            /* Darkest grey                    */
$grey: #666;                 /* Grey                            */
$light-gray: #D6D6D6;        /* Light grey                      */
$row-stripe: #eee;           /* Lighter grey                   */
$lightest-gray: #fbfbfb;     /* Lightest grey                   */

$black: #0F120C;             /* Black                           */

$light-green: #d9ffd9;
$dark-green: #99cc99;
$very-light-blue: #d3eaf2;
$very-light-yellow: rgb(251, 251, 197);

$pale-yellow: #FFFFF0;
$pale-blue: #F5F5FC;

/*************
 * PURE COLORS
 *************/
$darkest-grey: #333;         /* Very dark grey                  */
$dark-grey: #666;            /* Dark grey                       */
$header-bottom-brown: $dark-grey;


/********************
 * RATING PALLETTE
 ********************/
