{% load i18n %}

{% block style %}
    {#    Seems a waste to request those couple of sad lines from the server as separate css file #}
    <style>
        .user-permissions-app-separator {
            border-bottom: 1px solid black;
        }
        .app-name {
            border-right: 1px black solid;
        }
        [dir=rtl] .app-name{
            border-left: 1px black solid;
            border-right: initial;
        }

        th {
            text-decoration: underline;
        }
        .select-all{
            font-style: italic;
        }

        .related-widget-wrapper-user-permissions {
            width: 90%;
        }
    </style>
{% endblock %}