{% load assets %}
{% load settings_value %}
{% load i18n %}
{% load waffle_tags %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% settings_value "SITE_NAME" %} MIS {% block title %}{% endblock %}</title>
    {% block extra_media %}
    {% endblock %}
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script>window.Aptivate = {};</script>
</head>
<body{% block body_attrs %}{% endblock %}>
    <div class="body"> {# Created because ui.jquery really doesn't like sized <body> #}

    <header class="page-header">
        <h1 class="logo"><a href="/">{% settings_value "SITE_NAME" %}</a></h1>
        
        {% block organization_switching_form %}
        {% if request.user and request.user.is_authenticated %}
		<form id="organizations-switch" action="{% url "switch-organizations" %}" method="post">{% csrf_token %}
            <select id="organizations-switch-select" name="organization" onchange="this.form.submit();"{% if organization_list|length == 1 %} disabled="disabled"{% endif %}>
                {% for organization in organization_list %}<option value="{{ organization.id }}"{% if request.user.preferences.last_viewed_organization == organization %} selected="selected"{% endif %}>{{ organization.name }}</option>{% endfor %}
            </select>
        </form>
         {% if perms.organization.add_organization %}
            <div class="add-organization"><a href="{% url "organization_create" %}">Create Organisation</a></div>
         {% endif %}
        {%  endif %}
        {% endblock organization_switching_form %}
        
        {% block logframe_switching_form %}
        {% if request.user and request.user.is_authenticated %}
        <form id="logframes-switch" action="{% url "switch-logframes" %}" method="post">{% csrf_token %}
            <select id="logframes-switch-select" name="logframe" onchange="this.form.submit();">
            	{% for logframe in logframe_list %}<option value="{{ logframe.id }}"{% if request.user.preferences.last_viewed_logframe == logframe %} selected="selected"{% endif %}>{{ logframe.name }}</option>{% endfor %}
        {% if perms.logframe.add_logframe %}
            	<option value="-1">{% trans "Create a new Logframe" %}</option>
        {% endif %}
			</select>
		</form>
		{% endif %}
		{% endblock logframe_switching_form %}
         <div class="account-links-auth"><a href="{% url "logout" %}">{% trans "Log out" %}</a></div>
         {% if perms.contacts.add_user %}
            <div class="navigation-link"><a href="{% url "contact_list" %}" id="nav-people">{% trans "People" %}</a></li></div>
         {% endif %}
         <div class="account-links-auth"><a href="{% url "logout" %}">{% trans "Log out" %}</a></div>
         {% if request.user.preferences.last_viewed_logframe %}
            <div class="navigation-link"><a href="{% url "logframe-dashboard" request.user.preferences.last_viewed_logframe.slug %}" id="nav-dashboard">{% blocktrans with request.user.preferences.last_viewed_logframe.name as logframe_name %}{{ logframe_name }} Overview{% endblocktrans %}</a></div>
	        <div class="account-links-profile"><span>{% trans "Logged in as:" %} </span><a href="{% url "personal_edit" %}">{{ request.user.get_full_name|default:request.user.business_email }}</a></div>
        {% else %}
            <div class="account-links-auth"><a href="{% url "login" %}">{% trans "Log in" %}</a></div>
            <div class="account-links-auth"><a href="{% url "registration_register" %}">{% trans "Register" %}</a></div>
        {% endif %}
    </header>
    <div class="content-box">
        {% block main_menu %}
        {% endblock main_menu %} 

        {% if messages %}
        <div class="messagelist">
            {% for message in messages %}
            <div class="no-select message message-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content" id="wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="siteinfo"><p>Built by <a href="http://aptivate.org">Aptivate</a></p></div>
    </footer>
    </div> {# div.body #}
    {% block post_footer %}{% endblock %}
    <script>
    {% wafflejs %}
    </script>
    {% if deploy_env == "staging" or deploy_env == "production" %}
    <script data-main="{{ STATIC_URL }}dist/logframe.min.js" src="{{ STATIC_URL }}js/lib/require.js"></script>
    {% else %}
    <script data-main="{{ STATIC_URL }}js/main.js" src="{{ STATIC_URL }}js/lib/require.js"></script>
    {% endif %}
</body>
</html>
