<td>
    <div data-subview="taType"></div>
</td>
<td> 
    <div data-subview="taName"></div>
</td>
<td>
    <div data-subview="taBand"></div>
</td>
<td> 
    <div data-subview="taStart"></div>
</td>
<td> 
    <div data-subview="taEnd"></div>
</td>
<td> 
    <div data-subview="taDays"></div>
</td>
<td> 
    <div data-subview="taAmount"></div>
</td>
