<div data-name="description" 
     class="{{#if editable}}editable{{/if}}{{#unless description }} missing{{/unless}}"
     >{{#if description }}{{{ description }}}{{ else }}{{#if editable }}Click to add description{{else}}&nbsp;{{/if}}{{/if}}</div>
