<div data-name="rating" 
    class="heading {{#if editable}}editable{{/if}}{{#unless value }} missing{{/unless}}">
    <div class="display-rating-value {{#if color}}{{color}}{{else}}notrated{{/if}}"
        title="{{#if color}}{{name}}{{else}}Not rated. Click to rate{{/if}}"></div>
</div>
