<div data-name="deliverables" 
     class="{{#if editable}}editable{{/if}}{{#unless deliverables }} missing{{/unless}}"
     >{{#if deliverables }}{{{ deliverables }}}{{ else }}{{#if editable }}Click to add deliverables{{else}}&nbsp;{{/if}}{{/if}}</div>
