<div data-name="name" 
    class="heading {{#if editable}}editable{{/if}}{{#unless name }} missing{{/unless}}"
    >{{#if name}}{{ name }}{{else}}{{#if editable }}Click to add<br>sub-indicator{{else}}&nbsp;{{/if}}{{/if }}</div>
