<span data-name="{{ name }}"
     class="{{#if editable}}editable{{/if}}{{#unless value }} missing{{/unless}}"
     >{{#if value }}{{ value }}{{ else }}{{#if editable }}Click to add date{{else}}&nbsp;{{/if}}{{/if}}</span>
