<h2 data-name="name" 
    class="heading {{#if editable}}editable{{/if}}{{#unless name }} missing{{/unless}}"
    >{{#if name}}{{ name }}{{else}}{{#if editable }}Click to add title{{else}}&nbsp;{{/if}}{{/if }}</h2>
