<label for="annual-plan">Export Annual plan for year:</label>
<select id="annual-plan">
<option value="">----</option>
{{#each years }}
<option value="{{ this }}">{{ this }}</option>
{{/each}}
</select>
