<div data-name="source" 
     class="{{#if editable}}editable{{/if}}{{#unless source }} missing{{/unless}}"
     >{{#if source}}{{{ source }}}{{else}}{{#if editable }}Click to add source{{else}}&nbsp;{{/if}}{{/if }}
</div>
