<div class="indicator-detail">
    <div data-subview="indicatorName"></div>
    <div data-subview="indicatorDescription"></div>
</div>
<div class="indicator-data">
    <div class="indicator-data-table">
    <div data-subview="targetsTable"></div>
    </div>
    <div class="indicator-source">
        <h3>Source</h3>
        <div data-subview="indicatorSource"></div>
    </div>
</div>
