<div data-name="evidence" 
    class="{{#if editable}}editable{{/if}}{{#unless evidence }} missing{{/unless}}"
    >{{#if evidence}}{{{ evidence }}}{{else}}{{#if editable }}Click to add evidence{{else}}&nbsp;{{/if}}{{/if }}</div>
