<table class="monitor-result">
    <tbody>
    <tr>
        <td class="overview-title ribbon">
            <h2 class="heading">{{ name }}</h2>
        </td>
        <td class="overview-description">
            {{{ description }}}
        </td>
        <td class="monitor-rating">
            <div data-subview="resultRating"></div>
        </td>
    </tr>
    <tr class="monitor-indicator-list">
        <td colspan="3">
            <div data-subview="indicatorList"></div>
        </td>
    </tr>
</table>
