<div id="filter-result">
    Lead:
    <div data-subview="leadSelect"></div>
    <span id="filter-time">
        Start:
        <span>
            <input id="filter-time-start" type="text" placeholder="YYYY-MM-DD" class="date addpicker" />
        </span>

        End:
        <span>
            <input id="filter-time-end" type="text" placeholder="YYYY-MM-DD" class="date addpicker" />
        </span>
    </span>
    <span id="filter-reset">
        <button id="filter-clear" title="Clear filter selection">X</button>
    </span>
</div>
<div data-subview="resultList"></div>
<div data-subview="exportData"></div>
