Impact Weighting:
<span data-name="contribution_weighting"
      class="{{#if editable}}editable{{/if}}{{#unless contribution_weighting}} missing{{/unless}}"
      >{{#if contribution_weighting}}{{ contribution_weighting }}{{else}}0{{/if}}</span>
