<table class="logframe-result">
    <tbody>
        <tr>
            <td id="result-detail" class="tall">
                <div class="result-level-name level-{{ level }}">{{ level_name }}</div>
                <div data-subview="resultName"></div>
                <div class="description-label">Description</div>
                <div data-subview="resultDescription"></div>
                <div data-subview="resultContribution"></div>
            </td>
            <td id="indicator-column">
                <div data-subview="indicatorList"></div>
            </td>
            <td id="result-assumptions" class="tall">
                <div class="ribbon ribbon-assumptions">
                    <h3 class="heading assumptions">Assumptions</h3>
                </div>
                <div>
                    <div data-subview="assumptionList">No assumptions</div>
                </div>
                <div class="at-bottom">
                    Risk Rating:
                    <span data-subview="resultRiskRating"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div data-subview="deleteResult"></div>
