<div data-name="value" 
     class="{{#if editable}}editable{{/if}}{{#unless value }} missing{{/unless}}"
     >{{#if value }}{{ value }}{{ else }}{{#if editable }}Click to add value{{else}}&nbsp;{{/if}}{{/if}}</div>
