{% extends "dashboard/dashboard_base.html" %}

{% load i18n %}
{% block organization_switching_form %}
    {% if perms.organization.add_organization %}
        <div class="add-organization"><a href="{% url "organization_create" %}">Create Organisation</a></div>
    {% endif %}
{% endblock organization_switching_form %}
{% block logframe_switching_form %}
    {% if organization_list and perms.logframe.add_logframe %}
        <div class="add-logframe"><a href="{% url "create-logframe" %}">Create Logframe</a></div>
    {% endif %}
{% endblock logframe_switching_form %}

{% block content %}
    <h2>{% trans "Organizations that you are a member of" %}</h2>
    <ul>
    {% for organization in organization_list %}
        <li>{{ organization.name }}</li>
        {% if organization.logframe_set.exists %}
        <li class="sublist">
            <ul>
                {% for logframe in organization.logframe_set.all %}
                <li><a href="{% url "logframe-dashboard" organization.slug logframe.slug %}">{{ logframe.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}