{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
{% if validlink %}
    <form action="" method="post" class="pure-form pure-form-aligned solo-box centered" enctype="multipart/form-data">
        <h2>Enter new password:</h2>
        <fieldset class="move-right">
            {% csrf_token %}
            {% include "form_snippet.html" %}
            <div class="pure-control-group move-right">
                <a href="{% url "home" %}" class="pure-button">Cancel</a>
                <button type="submit" class="pure-button pure-button-primary">Reset password</button>
            </div>
        </fieldset>
    </form>
{% else %}
    <div class="solo-box centered">
        <h2>Password reset unsuccessful</h2>
        <p>
            The password reset link was invalid, possibly because it has been already used.
            Please request a new password reset.
        </p>
    </div>
{% endif %}
{% endblock %}
