{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
    <form action="" method="post" class="pure-form pure-form-aligned solo-box centered" enctype="multipart/form-data">
        <h3>Change password</h3>
        <fieldset class="move-right">
            {% csrf_token %}
            {% include "form_snippet.html" %}
            <div class="pure-control-group move-right">
                <a href="{% url "personal_edit" %}" class="pure-button">Cancel</a>
                <button type="submit" class="pure-button pure-button-primary">Change password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
