.monitor-indicator-table {
    margin: 0;
    padding:1em;
    border-bottom:0.25em solid $page-background;
}
.monitor-indicator-title {
    width: 15.2em;
    font-size: 0.857142857em;
    margin:0 0 0 0.2em;
}
.monitor-indicator-title > h2 {
  padding:0.5em 0.75em;
  margin:0;
  background-color:$light-yellow;
}
.monitor-indicator-title > h2 {
  background-color:$light-yellow;
}
.monitor-indicator-table .indicator-description {
    padding-left: 1em;
    padding-top: 0;
    vertical-align: middle;
}
.monitor-indicator-table .indicator-rating {
    width: 42px;
}
.monitor-indicator-list > td {
    padding: 0;
}
.monitor-indicator-table th,
.monitor-indicator-table td.target {
    width:15em;
    border-right: 1px solid white;
    text-align:center;
    vertical-align:middle;
}

.monitor-rating {
    width: 42px;
}
.monitor-indicator-list th.subindicator {
    background-color: $white;
    color: $page-background;
}

.monitor-indicator-list th.subindicator{
  text-align:left;
  padding-left:1em;
}
.monitor-subindicator-table tr {
    border-bottom: solid 1px $light-gray;
}
.monitor-subindicator-table {
  border-top:0.25em solid #738199;
  margin-top:0.5em;
}

.monitor-subindicator-table td {
    background-color: #fff;
    padding: 0 1.5em;
}
.monitor-subindicator-table .value {
    text-align: right;
}
.monitor-subindicator-table th {
    background-color: $dark-green;
    text-align: center;
}
.monitor-subindicator-table th.actual {
    background-color: #fff;
}
.monitor-subindicator-table td.target {
    background-color: $light-green;
}
.monitor-subindicator-table .editable.missing {
    text-align:  center;
}

.monitor-indicator-table th.subindicator {
    width: 16%;
    background-color: #fff;
}
.monitor-subindicator-table .subindicator-rating {
    width: 42px;
    padding: 0;
}
.monitor-subindicator-table {
    input,
    .value,
    .evidence {
        max-width: 12em;
        width: 100%;
    }
}
