/*************************
  Stripes
 *************************/
@charset "UTF-8";
/* 
Author: Estelle Weyl 
        http://www.standardista.com 
        http://www.twitter.com/estellevw

You can add any background color to these to make angular stripes in the color of your choice.
*/
%smallStripe {
    -webkit-background-size: 9px 15px;
       -moz-background-size: 9px 15px;
            background-size: 9px 15px;
}

%angled {
    background-image: /* Safari 5 and earlier */
        -webkit-gradient(linear, 100% 100%, 0 0,
            color-stop(.25, rgba(255, 255, 255, 0.2)), 
            color-stop(.25, rgba(255, 255, 255, 0)),
            color-stop(.5, rgba(255, 255, 255, 0)), 
            color-stop(.5, rgba(255, 255, 255, 0.2)),
            color-stop(.75, rgba(255, 255, 255, 0.2)), 
            color-stop(.75, rgba(255, 255, 255, 0)), 
            color-stop(1, rgba(255, 255, 255, 0)));
    background-image:   /* Chrome and Webkit Nightly build */
        -webkit-linear-gradient(120deg,
                rgba(255, 255, 255, 0.2) 25%, 
                rgba(255, 255, 255, 0) 25%,
                rgba(255, 255, 255, 0) 50%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(255, 255, 255, 0.2) 75%,
                rgba(255, 255, 255, 0) 75%,
                rgba(255, 255, 255, 0) 100%
                );
    background-image:   /* Firefox */
        -moz-linear-gradient(120deg,
                rgba(255, 255, 255, 0.2) 25%, 
                rgba(255, 255, 255, 0) 25%,
                rgba(255, 255, 255, 0) 50%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(255, 255, 255, 0.2) 75%,
                rgba(255, 255, 255, 0) 75%,
                rgba(255, 255, 255, 0) 100%
                );
        background-image:   /* IE10 */
        -ms-linear-gradient(120deg,
                rgba(255, 255, 255, 0.2) 25%, 
                rgba(255, 255, 255, 0) 25%,
                rgba(255, 255, 255, 0) 50%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(255, 255, 255, 0.2) 75%,
                rgba(255, 255, 255, 0) 75%,
                rgba(255, 255, 255, 0) 100%
                );
        background-image:   /* opera 11+ */
        -o-linear-gradient(120deg,
                rgba(255, 255, 255, 0.2) 25%, 
                rgba(255, 255, 255, 0) 25%,
                rgba(255, 255, 255, 0) 50%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(255, 255, 255, 0.2) 75%,
                rgba(255, 255, 255, 0) 75%,
                rgba(255, 255, 255, 0) 100%
                );
        background-image:   
        linear-gradient(120deg,
                rgba(255, 255, 255, 0.2) 25%, 
                rgba(255, 255, 255, 0) 25%,
                rgba(255, 255, 255, 0) 50%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(255, 255, 255, 0.2) 75%,
                rgba(255, 255, 255, 0) 75%,
                rgba(255, 255, 255, 0) 100%
                );
}
